
.first-div{
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 7px 6px 6px 2px #01010112;
}
.second-div{
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 7px 6px 6px 2px #01010112;
}
